@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: GB;
    src: url(../Gilroy-ExtraBold.otf);
}
@font-face {
    font-family: GL;
    src: url(../Gilroy-Light.otf);
}